@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2>Login</h2>
        <form method="post" asp-action="Login">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" class="form-control" id="username" name="username">
                <span class="text-danger" data-valmsg-for="username" data-valmsg-replace="true"></span>

            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
                <span class="text-danger" data-valmsg-for="password" data-valmsg-replace="true"></span>

            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

<div class="row justify-content-end mt-3">
    <div class="col-md-2">
        <a asp-action="Register" class="btn btn-outline-secondary">Register</a>
    </div>
</div>
